<div style="width: 50%" class="m-lg-auto pt-5">
  <h1>Add new post</h1>

      <label class="pb-3" for="postTitle">Post title</label>
      <input class="form-control" type="text" [(ngModel)]='this.post.title' id="postTitle" placeholder="Post title">

  <div class="form-group pt-3">
    <label class="pb-3" for="exampleFormControlSelect1">Author</label>
    <select class="form-control" [(ngModel)]='this.post.author_id' id="exampleFormControlSelect1">
      <option *ngFor="let author of authors" value="{{author.id}}">{{author.full_name}}</option>
    </select>
  </div>

    <div class="form-group pt-3">
      <label class="pb-3" for="postTitle">Image URL</label>
      <input type="text" [(ngModel)]='this.post.image_url' class="form-control" id="imgUrl" placeholder="Add image link here">
    </div>
    <div class="form-group pt-3">
      <label class="pb-3" for="postTitle">Post resume</label>
      <textarea class="form-control" [(ngModel)]='this.post.resume' id="postResume" placeholder="Add resume here"></textarea>
    </div>
    <div class="form-group pt-3">
      <label class="pb-3" for="postTitle">Content</label>
      <textarea class="form-control" [(ngModel)]='this.post.content' id="postContent" placeholder="Add Content here"></textarea>
    </div>
  <button class="btn btn-success" (click)="addPost()">Save</button>
</div>
